<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        Buscar País
    </li>
    <li 
        routerLink="region"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        Por Continente
    </li>
    <li 
        routerLink="capital"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        Por Capital
    </li>
</ul>